/* Write your CSS here */
.arrow {
  height: 30px;
  cursor: pointer;
  outline: none;
}
.suggestion-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Roboto';
}
